*,::after,::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.image-product {
    width: 270px;
    height: 270px;
}

@media screen and (max-width: 1080px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}